.vscode/**
.vscode-test/**
.github/**
docs/**
src/**
benchmarks/**
out/test/**
out/fidelity/**
.gitignore
.DS_Store
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/typescript/bin/**
node_modules/typescript/lib/_tsc.js
node_modules/typescript/lib/_tsserver.js
node_modules/typescript/lib/_typingsInstaller.js
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/tsserverlibrary.js
node_modules/typescript/lib/typingsInstaller.js
node_modules/typescript/lib/watchGuard.js
node_modules/typescript/lib/*/diagnosticMessages.generated.json
